<div class="uk-section">
	<div class="uk-container">
		<div class="uk-child-width-1-4@s uk-grid-match uk-grid-medium uk-text-center" uk-grid>
			<div>
				<a href="/frases" class="box uk-border-rounded">Frases</a>
			</div>
			<div>
				<a href="/paragrafos" class="box uk-border-rounded">Parágrafos</a>
			</div>
			<div>
				<a href="/textao" class="box uk-border-rounded">Textão</a>
			</div>
			<div>
				<a href="sobre" class="box uk-border-rounded btn-sobre">Sobre</a>
			</div>
		</div>
	</div>
</div>