<div class="uk-section uk-padding-remove section-cta uk-background-blend-darken uk-background-center-center uk-background-cover uk-text-center" style="background-image: url(img/application/bg-bottom.jpg)" >
	<div class="uk-background-muted1 uk-border-rounded1 uk-padding-large">
		<h2 class="uk-light">Colabore com o Choque Generator™!</h2>
		<p class="uk-text-lead uk-light">Acesse a página de descrição e confira as informações do repositório no GitHub e dos criadores do projeto!</p>
		<p class="uk-margin-medium-top">
			<a href="/sobre" class="uk-button uk-button-primary uk-button-large">SOBRE</a>
		</p>
	</div>
</div>