<footer id="footer" class="uk-section uk-margin-remove uk-section-xsmall uk-text-small uk-text-muted border-top">
	<div class="uk-container">
		<div class="uk-child-width-1-2@m uk-text-center" uk-grid>
			<div class="uk-text-right@m">
				<a href="#" target="_blank" class="uk-icon-link uk-margin-small-right" uk-icon="icon: github"></a>
			</div>
			<div class="uk-flex-first@m uk-text-left@m">
				<p class="uk-text-small">Desenvolvido por <a href="https://twitter.com/Carlao_O" target="_blank">Carlao_O</a> e <a href="https://twitter.com/leandrolatini" target="_blank">leandrolatini</a>.</p>
			</div>
		</div>
	</div>
</footer>

<div id="offcanvas" uk-offcanvas="flip: true; overlay: true">
	<div class="uk-offcanvas-bar">
		<a class="uk-margin-small-bottom uk-logo uk-text-uppercase" href="/"><span class="uk-margin-small-right" uk-icon="icon: bolt"></span> Choque Generator™</a>
		<ul class="uk-nav uk-nav-default uk-text-uppercase">
			<li><a href="/">Página Inicial</a></li>
			<li><a href="/frases">Frases</a></li>                        
			<li><a href="/paragrafos">Parágrafos</a></li>
			<li><a href="/textao">Textão</a></li>
			<li><a href="/sobre">Sobre</a></li>
		</ul>
		<div class="uk-width-auto uk-text-center">
			<a href="https://twitter.com/Carlao_O" target="_blank" class="uk-icon-link uk-margin-small-right" uk-icon="icon: twitter"></a>
			<a href="https://github.com/Carlao-O/Choque-de-Cultura-Generator" target="_blank" class="uk-icon-link uk-margin-small-right" uk-icon="icon: github"></a>
			<a href="https://twitter.com/leandrolatini" target="_blank" class="uk-icon-link uk-margin-small-right" uk-icon="icon: twitter"></a>
		</div>            
	</div>
</div>