<!DOCTYPE html>
<html lang="pt-br">
<head>
	<% include head %>
</head>

<body>
	<div class="section-hero uk-background-blend-color-screen uk-background-top-center uk-background-cover uk-section-large1 cta" style="background-image: url(img/application/choque-de-cultura.jpg)" >
		<nav class="uk-navbar-container uk-margin uk-navbar-transparent uk-light">
			<% include nav %>
		</nav>
		<div class="uk-container hero highlight">
			<p class="uk-text-lead uk-text-center uk-margin-large-top uk-light">Achou que não ia ter um gerador de textos aleatórios do Choque de Cultura?</p>
			<h1 class="uk-heading-primary uk-text-center uk-margin-small-top uk-light">Achou errado, otário!</h1>
		</div>
	</div>

	<% include actions %>

	<% include bottom %>

	<% include footer %>
</body>

</html>