<div class="uk-container">
    <div uk-navbar>
        <div class="uk-navbar-left">
            <a href="/" class="uk-navbar-item uk-logo uk-text-uppercase"><span class="uk-margin-small-right" uk-icon="icon: bolt"></span> Choque Generator™</a>
        </div>
        <div class="uk-navbar-right">
            <ul class="uk-navbar-nav uk-text-uppercase uk-visible@m uk-margin-medium-left">
                <li><a href="/">Página Inicial</a></li>
                <li><a href="/frases">Frases</a></li>                        
                <li><a href="/paragrafos">Parágrafos</a></li>
                <li><a href="/textao">Textão</a></li>
                <li><a href="/sobre" class="sobre">Sobre</a></li>
            </ul>
            <a class="uk-navbar-toggle uk-hidden@m" href="#offcanvas" uk-toggle uk-icon="icon: menu"></a>
        </div>
    </div>
</div>